{% extends 'base.html.twig' %}

{% block title %}Ajouter une ville% endblock %}

{% block body %}
    <h1>Ajouter une ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('ville_index') }}">back to list</a>
{% endblock %}
